/*  Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .navbar-custom .logo img {
        height: auto;
    }
    .footer-list-title {
        width: 110px;
    }
    .footer-social {
        margin-left: 0;
        display: block;
        text-align: center;
    }
    .footer-social ul li:first-child {
        border-left: none;
    }
    .footer-social ul li {
        border-right: none;
        margin-right: 0 !important;
    }
    .footer-social ul li a {
        padding: 13px 13px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .navbar-custom .logo img {
        height: auto;
    }
    .footer-list-title {
        width: 110px;
    }
    .footer-social {
        margin-left: 40px;
        display: inline-block;
    }
    .footer-social ul li:first-child {
        border-left: none;
    }
    .footer-social ul li {
        border-right: none;
        margin-right: 0 !important;
    }
    .footer-social ul li a {
        padding: 13px 13px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .navbar-custom .logo img {
        height: auto;
    }
    .footer-social {
        margin-left: 150px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    
}